@model BusBoard.Web.Models.Selection
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BusBoard</h1>
    <p class="lead">For all your bus info needs. Enter a postcode below and click enter to see bus times for that location.</p>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("PostcodeBusInfo", "Home", FormMethod.Get))
        {
            <fieldset>
                <legend>Post Code:</legend>
                @Html.TextBoxFor(m => m.Postcode)
                <input type="submit" value="Get Bus Info" />
            </fieldset>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("StopNameBusInfo", "Home", FormMethod.Get))
        {
            <fieldset>
                <legend>Stop Name:</legend>
                @Html.TextBoxFor(m => m.StopName)

                <input type="submit" value="Get Bus Info" />
            </fieldset>
        }
    </div>
</div>